* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    border: solid 1px #111;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    gap: 16px;
}

#navbar h3 {
    color: rgb(20, 20, 148);
}


.sidenav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    z-index: 1;
    background-color: rgb(62, 61, 61);
    overflow-x: hidden;
    transition: 0.5s;
    border-radius: 10px;
    padding: 0;
    color: white;

}

#main {
    transition: margin-left .5s;
    padding: 16px;       
}

#navbar span {
    font-size: 20px;
    color: rgb(20, 20, 148);
    display: flex;
    align-items: center;
}

.theme, .authors {
    padding: 5px;
    border: solid 1px rgb(119, 116, 116);
    border-radius: 10px;
    margin: 20px;
}

.theme {
    margin-top: 25px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
    border: solid 1px #ffffff;
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
    background: none;
    align-items: center;
    color: white;
}

.closebtn {
        float: right;
        text-decoration: none;
        font-size: 20px;
}

.container {
    text-align: center; 
    color: rgb(20, 20, 148); 
          
}

.input-currency {
    border: solid 1px #111;
    /* display: flex; */
}

.form1 {
    display: block;
}
.keybord {
    text-align: center;
    
}

.history{
    text-align: center;
}

.footer1 {
    border-top: solid 1px #111;
    width: 100%;
    padding-top: 20px;
    color:  rgb(20, 20, 148); 
}

.footer2 {
    padding-left: 450px;
    padding-top: 10px;
    display: flex;
    border-top: solid 1px #111;
    margin: 15px;
    gap: 100px;
   
}

li {
    flex-direction: row;
    text-align: center; 
}

.footer3 {
    font-weight: 700;
    align-content: flex-end;
    text-align: center;
    border-top: solid 1px #111;
    border-right: solid 1px #111;
    border-left: solid 1px #111;
}

ul {
    list-style-type: none;
}

.footer4 {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.footer3 a:hover {
    color: blue;
    text-decoration: underline;
}
