* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    border: solid 1px #111;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    gap: 16px;
}

#navbar h3 {
    color: rgb(20, 20, 148);
}


.sidenav {
    position: fixed;
    left: 0;
    top: 0;
    height: 60%;
    width: 0;
    z-index: 1;
    background-color: rgb(183, 233, 232);
    overflow-x: hidden;
    transition: 0.5s;
    border-radius: 10px;
    padding: 0;

}

#navbar span {
    font-size: 20px;
    color: rgb(20, 20, 148);
    display: flex;
    align-items: center;
}

.theme, .authors {
    padding: 5px;
    border: solid 1px rgb(119, 116, 116);
    border-radius: 10px;
    margin: 15px;
}


a {
    text-decoration: none;
}

.btn {
    border: solid 1px #111;
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
    background: none;
    align-items: center;
}

.closebtn {
        float: right;
        text-decoration: none;
        font-size: 20px;
}

.container {
    text-align: center; 
    color: rgb(20, 20, 148); 
          
}

.input-currency {
    border: solid 1px #111;
    /* display: flex; */
}

.form1 {
    display: block;
}
.keybord {
    text-align: center;
    
}

.history{
    text-align: center;
}

.footer1 {
    border-top: solid 1px #111;
    width: 100%;
}

.footer2 {
    border-top: solid 1px #111;
}

li {
    flex-direction: row;
    gap: 16px;
    align-content: space-between;   
}

.footer3 {
    align-content: flex-end;
    text-align: center;
    border-top: solid 1px #111;
    border-right: solid 1px #111;
    border-left: solid 1px #111;
}