* {
    box-sizing: border-box;
   
}

#navbar {
    border-bottom: solid 1px #111;
    overflow: auto;
    padding: 10px;
}

.image {
    width: 100px;
    height: 80px;
    float: right;
}

.sidenav {
    overflow-x: hidden;
    transition: 0.5s;
    background: #eae1e1;
    z-index: 1;
}