* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

#navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: solid 1px #111;
    border-radius: 10px;
    color: rgb(41, 130, 189);
    flex-direction: row;
}

#logo {
    display: flex;
    gap: 4px;
}

#logo img {
    margin-top: 13px;
}

#menu-btn {
    margin: 17px 0 0 15px
}

#language {
    margin: 17px 15px 0 0;
    color: rgb(41, 130, 189);
}

#language select {
    border-radius: 5px;
}

.sidenav {
    position: absolute;
    height: 71%;
    z-index: 1;
    width: 0;
    background-color: rgb(41, 130, 189);
    overflow-x: hidden;
    transition: 0.5s;
    border-radius: 10px;
    padding: 0;
    color: white
}

.theme,
.authors {
    position: relative;
    padding: 5px;
    border: solid 1px rgb(29, 33, 139);
    border-radius: 10px;
    margin: 20px;
}

.sidenav h3 {
    left: 15px;
    margin: 10px;
    color: #13145e;
    text-align: center;
    background-color: none;
    z-index: 1;
}

.authors {
    height: 50%;
}

.authors p {
    text-align: center;
    color: #13145e;
}

.theme {
    margin: 40px 20px;
    text-align: center;
}

#main {
    width: 100vw;
}

.container {
    color: rgb(41, 130, 189);
    width: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: brown;
    border: solid 1px #111;
}

.input-currency {
    height: 90px;
    background-color: chartreuse;
    display: flex;

}

.profils-divises img {
    background-color: cyan;
}

.footer {
    background: rgb(41, 130, 189);
    width: 100vw;
    color: #dad5d5;
    padding-top: 10px;
}

.divises h4 {
    text-align: center;
}

.profils-divises {
    margin: 0 20px 0 20px;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    place-content: center;
    gap: 10px;
}

.profils-divises a{
 background-color: cornsilk;
}

#contacts-container {
    /* background-color: coral; */
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
}

.contacts ul {
    /* background-color: darkorchid; */
    list-style-type: none;
    display: flex;
    gap: 20px; 
}

.contacts a {
    color: rgb(56, 55, 55);
    transition: box-shadow 0.1s ease;
}

.contacts a:hover {
    color: #e7e3e3;
}

.footer2 {
    display: flex;
    gap: 20px;
    list-style-type: none;
    /* background-color: #13145e; */
}

.footer2 a:hover {
    text-decoration: underline;  
}

@media (width <=480px) {

    #menu-btn {
        margin: 27px 0 0 10px
    }

    #language {
        margin: 27px 10px 0 0;
    }

    #logo {
        padding-right: 10px;
        width: 30%;
    }

    .profils-divises {
        grid-template-columns: repeat(2, 1fr);
    }

}