/*!
 * Copyright © 2023  PalacancaTechnologies as represented by Júnior FUTA
 * All Rights Reserved.
 */
 
body {
    min-height: 100vh;
    gap: 16px; 
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
}