/* By: PalancaTechnologies Softwares 
CEO: Júnior Futa (JFuta21)
Email: juniorfuta94@gmail.com
Instagram: @juniorfuta */

body {
    min-height: 100vh;
    gap: 16px;
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
}