/* By: PalancaTechnologies Softwares 
CEO: Júnior Futa (JFuta21)
Email: juniorfuta94@gmail.com
Instagram: @juniorfuta */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
