
[data-theme='light'] {
  --bodyColor: rgb(245, 242, 242);
  --navbarColor: rgb(41, 130, 189);
  --navbarBorderColor: rgb(41, 130, 189);
  --inputBorderColor: black; 
  --inputsBackgroundColor:rgb(245, 242, 242);
  --subjectColor: none;
}