
[data-theme='light'] {
  --bodyColor: rgb(239, 234, 234);
  --navbarColor: rgb(41, 130, 189);
  --navbarBorderColor: rgb(41, 130, 189);
  --inputBorderColor: black; 
  --inputsBackgroundColor:rgb(239, 234, 234);
  --subjectBorderColor: none;
  --subjectColor: rgb(41, 130, 189);
  --keybordBorderColor: black;
  --keysBoerderColor: black;
  --buttonBorderColor: black;
  --historyBorderColor: black;
  --keysButtonColor: black; 
  --footerBackgroundColor: rgb(41, 130, 189);
  --linksCountriesColor: rgb(2, 2, 126);
  --contactsLinksColor: rgb(56, 55, 55);
  --contactsLinksColor1:rgb(2, 2, 126);
  --sidenavBackgroundColor:#c2bcbc;
  --authorsColor: #000000;
  --themeAuthorsBorder: rgb(0, 0, 0);
  --buttonSindenavHover: rgb(0, 0, 0);
}