[data-theme='dark'] {
--bodyColor: rgb(52, 45, 45);
--navbarColor: rgb(41, 130, 189);
--navbarBorderColor: white;
--inputBorderColor: rgb(251, 243, 243); 
--inputsBackgroundColor:rgb(40, 38, 38);
--subjectColor: rgb(251, 243, 243);
}