
[data-theme='light'] {
  --bodyColor: rgb(239, 234, 234);
  --navbarColor: rgb(41, 130, 189);
  --navbarBorderColor: rgb(41, 130, 189);
  --inputBorderColor: black; 
  --inputsBackgroundColor:rgb(239, 234, 234);
  --subjectBorderColor: none;
  --subjectColor: rgb(41, 130, 189);
  --keybordBorderColor: black;
  --keysBoerderColor: black;
  --buttonBorderColor: black;
}