[data-theme='dark'] {
--bodyColor: rgb(52, 45, 45);
--navbarColor: rgb(41, 130, 189);
--navbarBorderColor: rgb(239, 234, 234);
--inputBorderColor: rgb(239, 234, 234);
--inputsBackgroundColor:rgb(52, 45, 45);
--subjectBorderColor: rgb(239, 234, 234);
--subjectColor: rgb(41, 130, 189);
--keybordBorderColor: rgb(239, 234, 234);
--keysBoerderColor: rgb(239, 234, 234);
--buttonBorderColor: rgb(239, 234, 234);
--historyBorderColor: rgb(239, 234, 234);
--keysButtonColor: rgb(239, 234, 234);
--footerBackgroundColor: rgb(18, 48, 71);
--contactsLinksColor: #ada8a8;
--contactsLinksColor1:rgb(41, 130, 189);
--sidenavBackgroundColor:rgb(18, 48, 71);
--authorsColor: rgb(196, 190, 190);
--themeAuthorsBorder: rgb(196, 190, 190);
--buttonSindenavHover: #ada8a8;
}