[data-theme='dark'] {
--bodyColor: rgb(52, 45, 45);
--navbarColor: rgb(41, 130, 189);
--navbarBorderColor: rgb(239, 234, 234);
--inputBorderColor: rgb(239, 234, 234);
--inputsBackgroundColor:rgb(52, 45, 45);
--subjectBorderColor: rgb(239, 234, 234);
--subjectColor: rgb(41, 130, 189);
--keybordBorderColor: rgb(239, 234, 234);
--keysBoerderColor: rgb(239, 234, 234);
}